body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

select {
    width: 100%;
    padding: 8px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}